Source: papirus-icon-theme
Section: universe/x11
Priority: optional
Maintainer: Serhii Yeremenko <finalitik@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/PapirusDevelopmentTeam/papirus-icon-theme
Bugs: https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/issues

Package: papirus-icon-theme
Architecture: all
Depends: hicolor-icon-theme, ${misc:Depends}
Recommends: papirus-folders, gtk-update-icon-cache
Suggests: filezilla-theme-papirus
Replaces: papirus-gtk-icon-theme, papirus-kde-icon-theme
Description: Pixel perfect icon theme for Linux
 Papirus is a SVG-based icon theme, drawing inspiration from Material Design
 and flat design.
 .
 This package contains the following icon themes:
  - Papirus
  - Papirus-Dark
  - Papirus-Light
